@charset "UTF-8";
@import url("https://fonts.googleapis.com/css?family=Raleway");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }
  * :focus {
    outline: 2px solid #faca33; }

body {
  font-family: 'Raleway', -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
  color: black;
  letter-spacing: 1px; }

ul,
li {
  list-style: none; }

a {
  text-decoration: unset;
  color: inherit; }

::placeholder {
  color: rgba(0, 0, 0, 0.3);
  font-size: 16px;
  font-weight: 300; }

::selection {
  background: #faca33;
  color: rgba(0, 0, 0, 0.87); }

::-webkit-scrollbar {
  width: 0 !important;
  height: 0 !important; }

button:disabled {
  opacity: 0.54;
  cursor: not-allowed; }

button,
a {
  cursor: pointer; }

.loader {
  position: absolute;
  left: 48%;
  top: 48%;
  border: 5px solid #000000be;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  animation: spin 2s linear infinite;
  -webkit-animation: spin 2s linear infinite; }

.loader-inverse {
  position: absolute;
  left: 48%;
  top: 48%;
  border: 5px solid #faca33;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  animation: spin 2s inverse infinite; }

.loader--mixed {
  position: relative;
  top: 0;
  left: 0;
  margin: auto;
  border-top-color: #faca33;
  border-left-color: #faca33;
  border-right-color: #000000be;
  border-bottom-color: #000000be; }

@keyframes spin {
  0% {
    transform: rotate(0deg); }

  100% {
    transform: rotate(360deg); } }

@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg); }

  100% {
    -webkit-transform: rotate(360deg); } }

.line {
  border: 1px solid rgba(0, 0, 0, 0.2);
  margin: 0 62px; }

.count {
  font-size: 12px;
  position: relative;
  top: -8px;
  color: red; }

.f {
  display: flex; }

.f-sb {
  justify-content: space-between !important; }

.f-sa {
  justify-content: space-around !important; }

.f-end {
  justify-content: flex-end; }

.yellow {
  background-color: #faca33; }

.color-white {
  color: white !important; }

.purple {
  background-color: rgba(0, 0, 0, 0.87); }

.red-color {
  color: red; }

.m-padding {
  padding: 24px; }

.w-padding {
  margin: 0 62px; }

.pad-tb-16 {
  padding: 16px !important; }

.bg-white {
  background-color: white !important; }

.custom-input {
  position: relative;
  width: 100%;
  border-radius: 5px;
  height: 45px;
  border: 0;
  padding-left: 16px;
  background: white;
  color: #484848;
  font-size: 18px; }

.accordion,
label,
.pagination {
  font-size: 12px !important; }

.no-border {
  border: none !important; }

.button {
  border-radius: 5px;
  padding: 8px;
  font-size: 13px;
  margin: auto; }
  .button i {
    padding-right: 4px; }

.tb, .theme-button, .theme-button-inverse {
  border: 0;
  padding: 12px;
  font-weight: 700 !important;
  font-size: 12px;
  border-radius: 5px; }
  .tb i, .theme-button i, .theme-button-inverse i {
    padding-right: 8px; }

.theme-button {
  color: rgba(0, 0, 0, 0.9);
  background: #faca33; }

.theme-button-inverse {
  background: rgba(0, 0, 0, 0.9);
  color: #faca33; }

.theme-bgcolor-2 {
  font-weight: 700;
  font-size: 14px !important;
  background: #faca33 !important;
  color: rgba(0, 0, 0, 0.9) !important; }

.divider {
  margin: 0 16px; }

.save-button {
  color: white;
  background-color: midnightblue; }

.remove-button {
  color: white;
  background-color: red; }

.edit-button {
  color: white;
  background-color: green; }

.purple-button {
  color: white;
  background-color: rgba(0, 0, 0, 0.87); }

/* padding css */
.pad-b-24 {
  padding-bottom: 24px; }

.pad-r-24 {
  padding-right: 16px; }

/* margin css */
.mag-l-24 {
  margin-left: 24px; }

/* flexbox */
.f-start {
  justify-content: flex-start !important; }

/* token CSS */
.token-container {
  padding: 0 4px; }

.token-layout {
  align-items: center;
  padding-right: 4px; }
  .token-layout span {
    font-weight: 900;
    padding-right: 4px; }
  .token-layout img {
    width: 24px;
    height: 24px; }

/* dashboard dropdwon */
.ui.dropdown .menu .item {
  position: relative;
  cursor: pointer;
  display: block;
  border: none;
  height: auto;
  text-align: left;
  border-top: none;
  line-height: 1em;
  color: rgba(0, 0, 0, 0.87);
  padding: 0.78571429rem 1.14285714rem !important;
  font-size: 1rem;
  text-transform: none;
  font-weight: 400;
  box-shadow: none;
  -webkit-touch-callout: none; }

/* Not Found CSS */
.not-found {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  background: white;
  min-height: calc(100vh - 225.27px);
  margin: auto; }
  .not-found h2 {
    font-size: calc(100vw * 0.1); }
  .not-found p {
    padding-top: 15px; }
  .not-found .button {
    background: transparent;
    margin: 16px auto 0; }

@media screen and (min-width: 600px) {
  .not-found {
    min-height: calc(100vh - 438.05px); }
    .not-found p {
      padding-top: 16px; } }
@media screen and (min-width: 768px) {
  .not-found {
    min-height: calc(100vh - 134px); } }
/* semantic css */
.ui.styled.accordion .content,
.ui.styled.accordion .accordion .content {
  border-top: 1px solid rgba(80, 80, 80, 0.15); }

.search-not-found p {
  padding-bottom: 16px; }

.filter-toggle {
  color: red;
  background-color: transparent;
  margin-bottom: 24px;
  border: none;
  width: fit-content; }
  .filter-toggle i {
    padding-right: 4px; }

.all-products {
  display: flex;
  flex-direction: column;
  padding: 40px 24px; }

.all-products-header {
  margin-bottom: 24px; }

.all-products-pagination {
  display: flex;
  justify-content: center;
  margin-top: 24px; }

@media screen and (min-width: 900px) {
  .all-products {
    flex-direction: row; }

  .all-products-sidebar {
    display: flex;
    flex-direction: column;
    flex: 0 0 22%;
    width: 22%;
    margin-right: 32px; }
    .all-products-sidebar .input {
      width: 100%;
      height: 45px;
      margin-top: 20px; }
      .all-products-sidebar .input::-moz-placeholder {
        font-size: 14px; }

  .all-products-main {
    display: flex;
    flex-direction: column;
    flex: auto; }
    .all-products-main .card {
      margin-right: 15px; }
    .all-products-main .top-products-list {
      justify-content: space-evenly; } }
@media screen and (min-width: 1280px) {
  .all-products {
    padding: 62px; }

  .all-products-sidebar {
    flex: 0 0 20%;
    width: 20%;
    margin-right: 62px; }

  .all-products-main .card {
    margin-right: 20px; } }
.site-footer {
  display: flex;
  justify-content: space-evenly;
  background-color: white;
  border-top: 1px solid rgba(80, 80, 80, 0.15);
  padding: 16px 24px; }

.site-footer-item {
  font-size: 12px;
  text-transform: uppercase; }

.w-site-footer {
  display: flex;
  justify-content: space-between;
  background-color: white;
  font-weight: 300;
  border-top: 1px solid rgba(80, 80, 80, 0.15);
  padding: 40px 5%; }

.w-site-footer-column {
  display: flex;
  flex-direction: column;
  align-content: center; }
  .w-site-footer-column h4 {
    font-size: 12px;
    color: rgba(0, 0, 0, 0.74);
    font-weight: 700;
    text-transform: uppercase;
    padding-bottom: 20px; }
  .w-site-footer-column img {
    width: 150px; }

.w-footer-item {
  color: rgba(0, 0, 0, 0.54);
  font-size: 12px;
  font-weight: 700;
  text-transform: capitalize;
  padding-bottom: 12px; }

.social-icons {
  display: flex;
  justify-content: space-between; }
  .social-icons i {
    padding-right: 15px; }

@media screen and (min-width: 900px) {
  .w-site-footer {
    padding: 40px 0;
    max-width: 840px; } }
@media screen and (min-width: 1280px) {
  .w-site-footer {
    max-width: 1220px; } }
.m-site-header-container {
  background-color: rgba(0, 0, 0, 0.9); }
  .m-site-header-container .search {
    flex: auto;
    margin-right: 8px; }

.m-site-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 24px 24px 0; }

.site-logo {
  flex: auto; }
  .site-logo img {
    width: 140px;
    height: auto; }

.site-items {
  display: flex;
  align-items: center; }

.site-menu {
  padding-left: 16px; }

.m-site-header-sub {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 24px 24px 0;
  padding-bottom: 24px; }
  .m-site-header-sub i {
    color: white;
    margin: 0; }
  .m-site-header-sub form {
    flex: auto; }

.m-cart {
  position: relative;
  color: white;
  left: 8px;
  top: -2px; }

.w-site-logo img {
  width: 140px;
  height: auto; }

.w-site-items {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  color: rgba(0, 0, 0, 0.54); }
  .w-site-items ul {
    display: flex;
    align-items: center; }

.w-site-item {
  text-transform: uppercase;
  font-size: 11px;
  font-weight: 700;
  padding: 0 8px; }
  .w-site-item:not(:first-child) {
    border-left: 1px solid #cccccc; }
  .w-site-item:last-child {
    padding-right: 0; }

.w-site-header {
  display: flex;
  justify-content: space-between;
  align-content: center;
  width: 100%;
  padding: 8px 30px;
  color: rgba(0, 0, 0, 0.6);
  background-color: white;
  box-shadow: 0 2px 0px rgba(0, 0, 0, 0.15); }

.m-sidenav {
  display: none;
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  z-index: 1001; }

.m-nav-items {
  position: fixed;
  width: 75%;
  top: 0;
  bottom: 0;
  right: 0;
  color: rgba(0, 0, 0, 0.6);
  background-color: white;
  padding: 10px; }
  .m-nav-items ul {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start; }

.m-nav-item {
  width: 100%;
  font-weight: 700;
  padding: 20px;
  border-bottom: 1px solid #cccccc; }
  .m-nav-item a {
    text-transform: capitalize;
    font-size: 14px; }

@media screen and (min-width: 600px) {
  .oh-super-nav {
    background: white;
    color: rgba(0, 0, 0, 0.6);
    padding: 12px 24px; }
    .oh-super-nav ul {
      display: flex;
      justify-content: flex-end; }

  .oh-super-nav-item {
    padding: 0 10px; }
    .oh-super-nav-item:not(:last-child) {
      border-right: 1px solid #cccccc; }
    .oh-super-nav-item a {
      text-transform: uppercase;
      font-size: 11px;
      font-weight: 700; }

  .oh-sub-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: rgba(0, 0, 0, 0.9);
    color: white;
    padding: 10px 24px; }

  .oh-site-logo {
    flex: 0 1 12%; }
    .oh-site-logo img {
      width: 100%;
      height: auto; }

  .oh-search {
    flex: 1 1 60%; }
    .oh-search .search {
      margin: 0 8%; }

  .oh-actions {
    flex: 0 0 5%;
    display: flex;
    justify-content: flex-end;
    width: 100%; }
    .oh-actions:last-child a {
      margin-left: 16px; }

  .oh-r94, .oh-saved-items, .oh-cart {
    display: flex;
    width: 100%; }
    .oh-r94 h4, .oh-saved-items h4, .oh-cart h4 {
      font-size: 14px;
      font-weight: 300; }

  .oh-saved-items i {
    padding-right: 8px; } }
@media screen and (min-width: 1280px) {
  padding: 45px 62px 0;
  .oh-super-nav {
    padding: 8px 62px; }

  .oh-sub-nav {
    padding: 10px 62px; }

  .oh-search {
    flex: 1 1 70%; }

  .oh-site-logo {
    flex: 0 1 10%; } }
.m-home-landing {
  display: flex;
  flex-direction: column;
  text-align: center;
  color: white; }
  .m-home-landing h1 {
    font-size: 18px;
    letter-spacing: 1px;
    line-height: 30px;
    font-weight: 900;
    padding-bottom: 12px; }
  .m-home-landing .text {
    color: #faca33; }

.hero {
  height: 80vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: left; }

.bg-img .i, .bg-img .bg-overlay, .bg-img .bg-overlay-black, .bg-img img {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  height: 100vh;
  width: auto;
  overflow: hidden;
  content: ""; }
.bg-img .bg-overlay {
  background: rgba(0, 0, 0, 0.7);
  z-index: -3; }
.bg-img .bg-overlay-black {
  background: rgba(0, 0, 0, 0.7);
  z-index: -3; }
.bg-img img {
  z-index: -5; }

.landing-action {
  margin-top: 35px;
  display: flex;
  justify-content: center; }

.bt {
  border: 2px solid white; }

.top-categories {
  display: flex;
  flex-direction: column;
  background: white; }

.top-category-item {
  text-align: center;
  width: 100%;
  flex: auto;
  display: flex;
  height: 64px;
  background: #fafafa;
  border-bottom: 1px solid #cccccc; }
  .top-category-item h3 {
    font-weight: 300;
    margin: auto;
    font-size: 14px;
    color: #484848; }

.m-featured {
  color: rgba(0, 0, 0, 0.7);
  background: white;
  padding: 40px 24px;
  min-height: 400px;
  display: flex;
  flex-direction: column;
  align-content: space-between; }
  .m-featured .f-title {
    text-align: left;
    padding-bottom: 24px; }

.m-featured-item {
  margin-bottom: 24px;
  border-radius: 5px;
  background: white;
  width: stretch; }

.more-featured-items {
  background: #ffffff;
  border: 1px solid #cccccc;
  border-radius: 5px;
  color: rgba(0, 0, 0, 0.7);
  padding: 12px;
  /* margin: auto; */
  font-size: 12px;
  /* font-weight: 700; */ }

.m-categories-hero {
  background: white;
  padding-top: 26px;
  color: #484848;
  min-height: 300px; }

.cat-title {
  background: white;
  color: rgba(0, 0, 0, 0.7);
  text-align: left;
  padding: 0 24px 24px; }

.m-categories {
  display: flex;
  flex-flow: row wrap;
  width: 100%;
  background: white;
  min-height: 300px; }

.m-categories-item {
  flex: 0 0 50%;
  background: white;
  color: #484848;
  border: 1px solid #eaeaea;
  padding: 24px;
  margin: auto;
  font-size: 14px; }
  .m-categories-item:hover:active {
    background: #eaeaea; }

.search-again-container {
  position: relative;
  height: 88px;
  max-height: 88px; }
  .search-again-container button {
    position: absolute;
    top: calc((88px - 34px) / 2);
    left: calc((100% - 61px) / 2);
    font-weight: 700;
    color: rgba(0, 0, 0, 0.7); }

@media screen and (min-width: 600px) {
  .w-home-landing {
    display: flex;
    flex-direction: column;
    color: white; }
    .w-home-landing h1 {
      font-size: 24px;
      line-height: 30px;
      font-weight: 900;
      padding-bottom: 16px; }
    .w-home-landing .text {
      color: #faca33; }

  .hero h1 {
    text-align: left;
    font-size: 24px;
    line-height: normal; }
  .hero .search input {
    height: 60px; }
  .hero .search input::placeholder {
    margin: auto;
    font-size: 16px;
    font-weight: 700; }
  .hero .search button {
    margin: 3px;
    height: 54px;
    padding: 0px 30px; }

  .bg-img img,
  .bg-img .bg-overlay {
    width: 100%;
    height: auto; }

  .landing-action {
    margin: 35px 15%; }

  .hot-deals-hero {
    color: #484848;
    background: white;
    width: 100%;
    padding: 48px 62px 0; }
    .hot-deals-hero h3 {
      font-size: 20px;
      text-transform: capitalize;
      padding-bottom: 24px; }

  .hot-deals {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    min-height: 230px; }

  .site-details-hero {
    background-color: #fafafa;
    color: rgba(0, 0, 0, 0.6);
    padding: 40px 10%; }

  .site-details {
    display: flex;
    justify-content: space-between; }

  .site-details-item {
    display: flex;
    flex: 0 1 22%; }

  .details-icon {
    padding-right: 10px; }

  .details-message p {
    padding-top: 0;
    font-size: 12px; }

  /* Next Section */
  .more-details-hero {
    background: white;
    color: #484848;
    display: flex;
    flex-direction: column;
    padding: 48px 62px 0;
    min-height: 300px; }
    .more-details-hero .top-products {
      padding: 0; }
      .more-details-hero .top-products header {
        padding-top: 0; }
      .more-details-hero .top-products .top-products-list-item {
        padding-bottom: 0; }

  /* Popular Categories */
  .popular-categories {
    border-radius: 5px;
    display: flex;
    width: 100%;
    flex-direction: column;
    padding: 25px 0; }
    .popular-categories h4 {
      font-size: 22px;
      padding-bottom: 50px; }

  .ct-list {
    width: 100%;
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start; }

  .ct-list-item:not(:last-child) {
    margin-right: 16px; }

  .ct-button {
    border-radius: 5px;
    padding: 8px;
    font-size: 14px;
    margin: auto;
    line-height: 54px;
    border: 1px solid rgba(0, 0, 0, 0.2); }
    .ct-button:hover {
      outline: 2px solid #faca33;
      outline-offset: 8px; }

  .ct-img {
    position: relative;
    height: 230px;
    width: 100%; }
    .ct-img img {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%; }
    .ct-img button {
      position: absolute;
      bottom: calc((170px) / 2);
      left: calc((100% - 96.125px) / 2);
      background: #faca33;
      color: #484848;
      font-weight: 700;
      border: 0;
      border-radius: 5px;
      padding: 15px 25px;
      margin: auto;
      font-size: 14px; }

  .product-display-hero {
    position: relative;
    display: flex;
    color: #484848;
    background: white;
    padding: 48px 62px;
    width: 100%; }
    .product-display-hero img {
      border-radius: 5px;
      margin: 0 5%;
      width: 90%; }

  .pd-links {
    position: absolute;
    bottom: 64px;
    left: calc((100% - 170.04px) / 2);
    display: flex;
    justify-content: center;
    align-items: flex-end; }

  .pd-links-item {
    text-transform: uppercase;
    border-radius: 5px;
    padding: 8px;
    background: white;
    color: #696b84;
    font-size: 12px;
    font-weight: 700; }
    .pd-links-item:first-child {
      margin-right: 16px; }
    .pd-links-item:hover {
      background: #faca33; } }
@media screen and (min-width: 900px) {
  .hero {
    height: unset; }
    .hero h1 {
      margin: 10% 10% 0; }

  .landing-action {
    margin: 35px 30%; }

  .product-display-hero {
    padding: 48px 62px; } }
@media screen and (min-width: 1280px) {
  .landing-action {
    margin: 35px 35%; }

  .hero h1 {
    margin: 10% 20% 0; }

  .more-details-hero {
    flex-direction: row;
    justify-content: space-between; }
    .more-details-hero .top-products {
      padding-right: 24px;
      flex: 1 1 50%; }

  .popular-categories {
    flex: 0 0 40%;
    border: 1px solid #cccccc;
    padding: 40px; }
    .popular-categories h4 {
      padding-bottom: 30px; }

  .ct-list-item {
    padding-right: 1vw; } }
.billing,
.shipping,
.review-order,
.checkout-payment,
.place-order-container {
  padding-top: 32px; }

.checkout-payment-items {
  display: flex;
  flex-direction: column; }

.checkout-payment-gateway {
  display: flex;
  align-items: center;
  padding-top: 24px; }
  .checkout-payment-gateway img {
    margin-right: 16px; }
  .checkout-payment-gateway button {
    color: white; }

.place-order-container {
  display: flex;
  justify-content: center; }

.top-products {
  display: flex;
  width: 100%;
  flex-direction: column;
  padding: 40px 0 24px; }
  .top-products header {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    padding-bottom: 30px; }
    .top-products header h4 {
      font-size: 20px; }
    .top-products header .see-all {
      font-size: 16px;
      color: red; }

.top-products-list-item {
  padding-bottom: 30px; }

.p-product-item {
  display: flex;
  flex-direction: column;
  background: white; }

.p-featured-products {
  padding: 0 24px;
  background-color: white; }

@media screen and (min-width: 600px) {
  .top-products-list {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    min-height: 230px; } }
@media screen and (min-width: 768px) {
  .p-featured-products {
    padding: 0 62px; } }
@media screen and (min-width: 1280px) {
  .top-products {
    padding-top: unset;
    flex: 0 1 50%; }
    .top-products header {
      padding-top: 40px; }

  .p-product-item {
    flex-direction: row; } }
.login-form {
  height: 100vh;
  overflow: hidden;
  margin: 0 24px; }
  .login-form .bg-img {
    height: 100%;
    width: auto; }

.authpage-header img {
  height: 32px !important;
  width: auto !important;
  margin-bottom: 24px; }

@media screen and (min-width: 600px) {
  .login-form {
    margin: 0; } }
.stars-outer {
  display: inline-block;
  position: relative;
  font-family: FontAwesome; }

.stars-outer::before {
  content: "\f006 \f006 \f006 \f006 \f006"; }

.stars-inner {
  position: absolute;
  top: 0;
  left: 0;
  white-space: nowrap;
  overflow: hidden;
  width: 0; }

.stars-inner::before {
  content: "\f005 \f005 \f005 \f005 \f005";
  color: #f8ce0b; }

.accordion {
  display: flex;
  flex-direction: column; }
  .accordion .title {
    font-size: 1.2em !important; }

.accordion-input-container {
  display: flex; }

.acc-label {
  display: block; }
  .acc-label :not(:first-child) {
    margin-top: 4px; }

.price-range {
  justify-content: space-between;
  align-items: center;
  color: rgba(204, 204, 204, 0.8); }
  .price-range input {
    border: 1px solid rgba(204, 204, 204, 0.8);
    flex: 0 1 45%;
    width: 45% !important;
    height: 36px; }

@media screen and (min-width: 900px) {
  .accordion {
    position: sticky;
    top: 40px; } }
/**
 * simplemde v1.11.2
 * Copyright Next Step Webs, Inc.
 * @link https://github.com/NextStepWebs/simplemde-markdown-editor
 * @license MIT
 */
#simplepostmd-editor-1-wrapper,
#simplepostmd-editor-2-wrapper {
  width: 100% !important; }

.CodeMirror {
  color: black; }

.CodeMirror-lines {
  padding: 4px 0; }

.CodeMirror pre {
  padding: 0 4px; }

.CodeMirror-gutter-filler,
.CodeMirror-scrollbar-filler {
  background-color: white; }

.CodeMirror-gutters {
  border-right: 1px solid #ddd;
  background-color: #f7f7f7;
  white-space: nowrap; }

.CodeMirror-linenumber {
  padding: 0 3px 0 5px;
  min-width: 20px;
  text-align: right;
  color: #999;
  white-space: nowrap; }

.CodeMirror-guttermarker {
  color: black; }

.CodeMirror-guttermarker-subtle {
  color: #999999; }

.CodeMirror-cursor {
  border-left: 1px solid #000;
  border-right: none;
  width: 0; }

.CodeMirror div.CodeMirror-secondarycursor {
  border-left: 1px solid silver; }

.cm-fat-cursor .CodeMirror-cursor {
  width: auto;
  border: 0 !important;
  background: #77ee77; }

.cm-fat-cursor div.CodeMirror-cursors {
  z-index: 1; }

.cm-animate-fat-cursor {
  width: auto;
  border: 0;
  -webkit-animation: blink 1.06s steps(1) infinite;
  -moz-animation: blink 1.06s steps(1) infinite;
  animation: blink 1.06s steps(1) infinite;
  background-color: #77ee77; }

@-moz-keyframes blink {
  50% {
    background-color: transparent; } }

@-webkit-keyframes blink {
  50% {
    background-color: transparent; } }

@keyframes blink {
  50% {
    background-color: transparent; } }

.cm-tab {
  display: inline-block;
  text-decoration: inherit; }

.CodeMirror-ruler {
  border-left: 1px solid #ccc;
  position: absolute; }

.cm-s-default .cm-header {
  color: blue; }

.cm-s-default .cm-quote {
  color: #009900; }

.cm-negative {
  color: #dd4444; }

.cm-positive {
  color: #229922; }

.cm-header,
.cm-strong {
  font-weight: 700; }

.cm-em {
  font-style: italic; }

.cm-link {
  text-decoration: underline; }

.cm-strikethrough {
  text-decoration: line-through; }

.cm-s-default .cm-keyword {
  color: #770088; }

.cm-s-default .cm-atom {
  color: #221199; }

.cm-s-default .cm-number {
  color: #116644; }

.cm-s-default .cm-def {
  color: blue; }

.cm-s-default .cm-variable-2 {
  color: #0055aa; }

.cm-s-default .cm-variable-3 {
  color: #008855; }

.cm-s-default .cm-comment {
  color: #aa5500; }

.cm-s-default .cm-string {
  color: #aa1111; }

.cm-s-default .cm-string-2 {
  color: #ff5500; }

.cm-s-default .cm-meta,
.cm-s-default .cm-qualifier {
  color: #555555; }

.cm-s-default .cm-builtin {
  color: #3300aa; }

.cm-s-default .cm-bracket {
  color: #999977; }

.cm-s-default .cm-tag {
  color: #117700; }

.cm-s-default .cm-attribute {
  color: #0000cc; }

.cm-s-default .cm-hr {
  color: #999999; }

.cm-s-default .cm-link {
  color: #0000cc; }

.cm-invalidchar,
.cm-s-default .cm-error {
  color: red; }

.CodeMirror-composing {
  border-bottom: 2px solid; }

div.CodeMirror span.CodeMirror-matchingbracket {
  color: lime; }

div.CodeMirror span.CodeMirror-nonmatchingbracket {
  color: #ff2222; }

.CodeMirror-matchingtag {
  background: rgba(255, 150, 0, 0.3); }

.CodeMirror-activeline-background {
  background: #e8f2ff; }

.CodeMirror {
  position: relative;
  overflow: hidden;
  background: white; }

.CodeMirror-scroll {
  overflow: scroll !important;
  margin-bottom: -30px;
  margin-right: -30px;
  padding-bottom: 30px;
  height: 100%;
  outline: 0;
  position: relative; }

.CodeMirror-sizer {
  position: relative;
  border-right: 30px solid transparent; }

.CodeMirror-gutter-filler,
.CodeMirror-hscrollbar,
.CodeMirror-scrollbar-filler,
.CodeMirror-vscrollbar {
  position: absolute;
  z-index: 6;
  display: none; }

.CodeMirror-vscrollbar {
  right: 0;
  top: 0;
  overflow-x: hidden;
  overflow-y: scroll; }

.CodeMirror-hscrollbar {
  bottom: 0;
  left: 0;
  overflow-y: hidden;
  overflow-x: scroll; }

.CodeMirror-scrollbar-filler {
  right: 0;
  bottom: 0; }

.CodeMirror-gutter-filler {
  left: 0;
  bottom: 0; }

.CodeMirror-gutters {
  position: absolute;
  left: 0;
  top: 0;
  min-height: 100%;
  z-index: 3; }

.CodeMirror-gutter {
  white-space: normal;
  height: 100%;
  display: inline-block;
  vertical-align: top;
  margin-bottom: -30px; }

.CodeMirror-gutter-wrapper {
  position: absolute;
  z-index: 4;
  background: 0 0 !important;
  border: none !important;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none; }

.CodeMirror-gutter-background {
  position: absolute;
  top: 0;
  bottom: 0;
  z-index: 4; }

.CodeMirror-gutter-elt {
  position: absolute;
  cursor: default;
  z-index: 4; }

.CodeMirror-lines {
  cursor: text;
  min-height: 1px; }

.CodeMirror pre {
  -moz-border-radius: 0;
  -webkit-border-radius: 0;
  border-radius: 0;
  border-width: 0;
  background: 0 0;
  font-family: inherit;
  font-size: inherit;
  margin: 0;
  white-space: pre;
  word-wrap: normal;
  line-height: inherit;
  color: inherit;
  z-index: 2;
  position: relative;
  overflow: visible;
  -webkit-tap-highlight-color: transparent;
  -webkit-font-variant-ligatures: none;
  font-variant-ligatures: none; }

.CodeMirror-wrap pre {
  word-wrap: break-word;
  white-space: pre-wrap;
  word-break: normal; }

.CodeMirror-linebackground {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: 0; }

.CodeMirror-linewidget {
  position: relative;
  z-index: 2;
  overflow: auto; }

.CodeMirror-code {
  outline: 0; }

.CodeMirror-gutter,
.CodeMirror-gutters,
.CodeMirror-linenumber,
.CodeMirror-scroll,
.CodeMirror-sizer {
  -moz-box-sizing: content-box;
  box-sizing: content-box; }

.CodeMirror-measure {
  position: absolute;
  width: 100%;
  height: 0;
  overflow: hidden;
  visibility: hidden; }

.CodeMirror-cursor {
  position: absolute; }

.CodeMirror-measure pre {
  position: static; }

div.CodeMirror-cursors {
  visibility: hidden;
  position: relative;
  z-index: 3; }

.CodeMirror-focused div.CodeMirror-cursors,
div.CodeMirror-dragcursors {
  visibility: visible; }

.CodeMirror-selected {
  background: #d9d9d9; }

.CodeMirror-focused .CodeMirror-selected,
.CodeMirror-line::selection,
.CodeMirror-line > span::selection,
.CodeMirror-line > span > span::selection {
  background: #d7d4f0; }

.CodeMirror-crosshair {
  cursor: crosshair; }

.CodeMirror-line::-moz-selection,
.CodeMirror-line > span::-moz-selection,
.CodeMirror-line > span > span::-moz-selection {
  background: #d7d4f0; }

.cm-searching {
  background: #ffa;
  background: rgba(255, 255, 0, 0.4); }

.cm-force-border {
  padding-right: 0.1px; }

@media print {
  .CodeMirror div.CodeMirror-cursors {
    visibility: hidden; } }
.cm-tab-wrap-hack:after {
  content: ""; }

span.CodeMirror-selectedtext {
  background: 0 0; }

.CodeMirror {
  height: auto;
  min-height: 300px;
  border: 1px solid #ddd;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  padding: 10px;
  font: inherit;
  z-index: 1; }

.CodeMirror-scroll {
  min-height: 300px; }

.CodeMirror-fullscreen {
  background: #fff;
  position: fixed !important;
  top: 50px;
  left: 0;
  right: 0;
  bottom: 0;
  height: auto;
  z-index: 9; }

.CodeMirror-sided {
  width: 50% !important; }

.editor-toolbar {
  position: relative;
  opacity: .6;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
  padding: 0 10px;
  border-top: 1px solid #bbb;
  border-left: 1px solid #bbb;
  border-right: 1px solid #bbb;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px; }

.editor-toolbar:after,
.editor-toolbar:before {
  display: block;
  content: ' ';
  height: 1px; }

.editor-toolbar:before {
  margin-bottom: 8px; }

.editor-toolbar:after {
  margin-top: 8px; }

.editor-toolbar:hover,
.editor-wrapper input.title:focus,
.editor-wrapper input.title:hover {
  opacity: 0.8; }

.editor-toolbar.fullscreen {
  width: 100%;
  height: 50px;
  overflow-x: auto;
  overflow-y: hidden;
  white-space: nowrap;
  padding-top: 10px;
  padding-bottom: 10px;
  box-sizing: border-box;
  background: #fff;
  border: 0;
  position: fixed;
  top: 0;
  left: 0;
  opacity: 1;
  z-index: 9; }

.editor-toolbar.fullscreen::before {
  width: 20px;
  height: 50px;
  background: -moz-linear-gradient(left, white 0, rgba(255, 255, 255, 0) 100%);
  background: -webkit-gradient(linear, left top, right top, color-stop(0, white), color-stop(100%, rgba(255, 255, 255, 0)));
  background: -webkit-linear-gradient(left, white 0, rgba(255, 255, 255, 0) 100%);
  background: -o-linear-gradient(left, white 0, rgba(255, 255, 255, 0) 100%);
  background: -ms-linear-gradient(left, white 0, rgba(255, 255, 255, 0) 100%);
  background: linear-gradient(to right, white 0, rgba(255, 255, 255, 0) 100%);
  position: fixed;
  top: 0;
  left: 0;
  margin: 0;
  padding: 0; }

.editor-toolbar.fullscreen::after {
  width: 20px;
  height: 50px;
  background: -moz-linear-gradient(left, rgba(255, 255, 255, 0) 0, white 100%);
  background: -webkit-gradient(linear, left top, right top, color-stop(0, rgba(255, 255, 255, 0)), color-stop(100%, white));
  background: -webkit-linear-gradient(left, rgba(255, 255, 255, 0) 0, white 100%);
  background: -o-linear-gradient(left, rgba(255, 255, 255, 0) 0, white 100%);
  background: -ms-linear-gradient(left, rgba(255, 255, 255, 0) 0, white 100%);
  background: linear-gradient(to right, rgba(255, 255, 255, 0) 0, white 100%);
  position: fixed;
  top: 0;
  right: 0;
  margin: 0;
  padding: 0; }

.editor-toolbar a {
  display: inline-block;
  text-align: center;
  text-decoration: none !important;
  color: #2c3e50 !important;
  width: 30px;
  height: 30px;
  margin: 0;
  border: 1px solid transparent;
  border-radius: 3px;
  cursor: pointer; }

.editor-toolbar a.active,
.editor-toolbar a:hover {
  background: #fcfcfc;
  border-color: #95a5a6; }

.editor-toolbar a:before {
  line-height: 30px; }

.editor-toolbar i.separator {
  display: inline-block;
  width: 0;
  border-left: 1px solid #d9d9d9;
  border-right: 1px solid #fff;
  color: transparent;
  text-indent: -10px;
  margin: 0 6px; }

.editor-toolbar a.fa-header-x:after {
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  font-size: 65%;
  vertical-align: text-bottom;
  position: relative;
  top: 2px; }

.editor-toolbar a.fa-header-1:after {
  content: "1"; }

.editor-toolbar a.fa-header-2:after {
  content: "2"; }

.editor-toolbar a.fa-header-3:after {
  content: "3"; }

.editor-toolbar a.fa-header-bigger:after {
  content: "▲"; }

.editor-toolbar a.fa-header-smaller:after {
  content: "▼"; }

.editor-toolbar.disabled-for-preview a:not(.no-disable) {
  pointer-events: none;
  background: #fff;
  border-color: transparent;
  text-shadow: inherit; }

@media only screen and (max-width: 700px) {
  .editor-toolbar a.no-mobile {
    display: none; } }
.editor-statusbar {
  padding: 8px 10px;
  font-size: 12px;
  color: #959694;
  text-align: right; }

.editor-statusbar span {
  display: inline-block;
  min-width: 4em;
  margin-left: 1em; }

.editor-preview,
.editor-preview-side {
  padding: 10px;
  background: #fafafa;
  overflow: auto;
  display: none;
  box-sizing: border-box; }

.editor-statusbar .lines:before {
  content: "lines: "; }

.editor-statusbar .words:before {
  content: "words: "; }

.editor-statusbar .characters:before {
  content: "characters: "; }

.editor-preview {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 7; }

.editor-preview-side {
  position: fixed;
  bottom: 0;
  width: 50%;
  top: 50px;
  right: 0;
  z-index: 9;
  border: 1px solid #dddddd; }

.editor-preview-active,
.editor-preview-active-side {
  display: block; }

.editor-preview-side > p,
.editor-preview > p {
  margin-top: 0; }

.editor-preview pre,
.editor-preview-side pre {
  background: #eee;
  margin-bottom: 10px; }

.editor-preview table td,
.editor-preview table th,
.editor-preview-side table td,
.editor-preview-side table th {
  border: 1px solid #ddd;
  padding: 5px; }

.CodeMirror .CodeMirror-code .cm-tag {
  color: #63a35c; }

.CodeMirror .CodeMirror-code .cm-attribute {
  color: #795da3; }

.CodeMirror .CodeMirror-code .cm-string {
  color: #183691; }

.CodeMirror .CodeMirror-selected {
  background: #d9d9d9; }

.CodeMirror .CodeMirror-code .cm-header-1 {
  font-size: 200%;
  line-height: 200%; }

.CodeMirror .CodeMirror-code .cm-header-2 {
  font-size: 160%;
  line-height: 160%; }

.CodeMirror .CodeMirror-code .cm-header-3 {
  font-size: 125%;
  line-height: 125%; }

.CodeMirror .CodeMirror-code .cm-header-4 {
  font-size: 110%;
  line-height: 110%; }

.CodeMirror .CodeMirror-code .cm-comment {
  background: rgba(0, 0, 0, 0.05);
  border-radius: 2px; }

.CodeMirror .CodeMirror-code .cm-link {
  color: #7f8c8d; }

.CodeMirror .CodeMirror-code .cm-url {
  color: #aab2b3; }

.CodeMirror .CodeMirror-code .cm-strikethrough {
  text-decoration: line-through; }

.CodeMirror .CodeMirror-placeholder {
  opacity: 0.5; }

.CodeMirror .cm-spell-error:not(.cm-url):not(.cm-comment):not(.cm-tag):not(.cm-word) {
  background: rgba(255, 0, 0, 0.15); }

.search {
  width: auto;
  position: relative; }
  .search input {
    position: relative;
    width: 100%;
    border-radius: 5px;
    height: 45px;
    border: 0;
    padding-left: 16px;
    background: white;
    color: #484848;
    font-size: 18px; }
    .search input:focus {
      outline: 2px solid #faca33; }
  .search button {
    margin: 3px;
    height: 39px;
    padding: 0 15px;
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    background: #faca33;
    border: 0;
    border-bottom-right-radius: 5px;
    border-top-right-radius: 5px;
    cursor: pointer; }

@media screen and (min-width: 900px) {
  .search {
    margin: 0 10%; } }
@media screen and (min-width: 1280px) {
  .search {
    margin: 0 20%; } }
.card {
  display: flex;
  flex-direction: column;
  text-align: left;
  border: 0;
  border-radius: 5px;
  width: auto;
  position: relative;
  border: 1px solid #f3f3f3; }
  .card img {
    height: 230px;
    width: auto;
    border: 0;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px; }

.card-tag {
  position: absolute;
  top: 0;
  right: 0;
  background: white;
  padding: 10px;
  margin: auto;
  border: 1px solid white;
  font-size: 12px;
  border-top-right-radius: 5px; }

.card-meta {
  position: absolute;
  bottom: 0;
  padding: 16px 10px;
  background: transparent;
  color: white;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  width: 100%; }
  .card-meta h4 {
    font-size: 16px;
    line-height: normal; }

.card-meta-details {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 8px; }

.card-price {
  flex: auto;
  font-size: 16px;
  font-weight: 400;
  color: white; }

.card-meta-type {
  font-size: 16px; }

.card-timer-container {
  font-size: 12px;
  font-weight: 700;
  color: red;
  border: 1px solid red;
  border-radius: 5px;
  padding: 4px; }

.card-timer-header {
  text-align: left;
  color: red; }

.card-timer {
  display: flex;
  justify-content: space-around; }

.card-timer-item {
  flex: auto;
  display: flex;
  flex-direction: column;
  text-align: left; }
  .card-timer-item:not(:last-child) {
    padding-right: 5px; }

.timer-value {
  flex: auto;
  color: red; }

.timer-meta {
  text-transform: uppercase; }

.card-item-details {
  display: flex;
  align-items: center;
  justify-content: space-between;
  text-align: unset;
  height: 30px; }

/* =====================
    MINI CARD CSS
====================== */
.mini-card-item {
  padding-bottom: 24px; }

.l-card-container {
  display: flex;
  flex-direction: column;
  padding: 24px;
  width: 100%; }
  .l-card-container header {
    font-size: 24px;
    font-weight: 700;
    padding-bottom: 16px; }

.l-card {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column; }

.l-card-main-image {
  display: flex;
  width: 100%; }
  .l-card-main-image img {
    height: 200px;
    width: 100%; }

.l-card-other-images {
  padding-top: 22px;
  display: flex;
  justify-content: space-between; }

.l-card-images img {
  border-radius: 5px; }

.l-card-oi-item img {
  height: 60px; }

.l-card-meta {
  padding: 16p 0;
  display: flex;
  justify-content: flex-start; }

.l-card-description {
  font-size: 14px;
  margin-top: 36px; }

.l-quantity {
  padding-bottom: 24px; }

.l-card-details {
  display: flex;
  flex-direction: column;
  align-content: center; }

.l-action {
  display: flex;
  flex-direction: column;
  align-content: flex-start; }

.l-action-message {
  padding-top: 8px;
  color: rgba(0, 0, 0, 0.6);
  font-size: 12px; }

.l-card-price-message {
  padding-top: 8px;
  font-size: 12px;
  color: rgba(0, 0, 0, 0.6); }

.save-for-later {
  display: flex; }
  .save-for-later span {
    padding-left: 4px;
    font-size: 12px;
    font-weight: 300; }

.l-quantity h4 {
  font-size: 14px;
  text-transform: capitalize;
  font-weight: 400;
  padding: 16px 0 8px; }
.l-quantity input {
  text-align: center;
  width: 50px;
  font-size: 16px;
  height: 32px;
  color: rgba(0, 0, 0, 0.6);
  border: 1px solid #cccccc; }
  .l-quantity input:hover,
  .l-quantity input :active {
    outline: none; }

.l-card-price-container {
  display: flex;
  align-items: center; }

.l-card-price {
  color: red;
  font-size: 14px; }
  .l-card-price span {
    padding-right: 8px; }

.l-no-of-bids {
  display: flex;
  padding: 16px 0; }
  .l-no-of-bids h4 {
    font-size: 14px;
    font-weight: 700; }
    .l-no-of-bids h4 span {
      color: red;
      padding-left: 8px; }

@media screen and (min-width: 600px) {
  .card img {
    height: 280px;
    width: 224px; }

  .card-price {
    font-size: 16px; }

  .card-meta-type {
    font-size: 12px; }

  .card-tag {
    padding: 8px;
    font-size: 12px; }

  .l-card-main-image img {
    height: 500px; }

  .l-card-oi-item img {
    height: 100px; }

  .l-action button {
    width: 25%;
    min-height: 40px !important; }

  .l-card-price {
    font-size: 20px;
    font-weight: 900; }

  .l-quantity input {
    width: 54px;
    font-size: 20px;
    height: 36px; } }
@media screen and (min-width: 768px) {
  .l-card-oi-item img {
    height: 140px; } }
@media screen and (min-width: 900px) {
  .l-card-oi-item img {
    height: 200px; } }
@media screen and (min-width: 1280px) {
  .card-timer-header {
    text-align: right; }

  .l-card-container {
    padding: 48px 62px; }
    .l-card-container header {
      padding-top: unset; }

  .l-card {
    flex-direction: row; }

  .l-card-other-images {
    padding-top: 10px; }

  .l-card-main-image img {
    height: 315px; }

  .l-card-oi-item img {
    max-height: 160px;
    width: 96%; }
  .l-card-oi-item:last-child {
    text-align: right; }
  .l-card-oi-item:not(:first-child):not(:last-child) {
    text-align: center; }

  .l-card-images {
    flex: 0 0 50%; }

  .l-card-details {
    margin-left: 50px;
    flex: 1 1 50%; }

  .l-card-meta .stars-outer,
  .l-card-meta .stars-inner {
    font-size: 28px; }

  .l-card-description {
    overflow: scroll;
    height: 150px;
    flex: auto; }

  .l-card-other-meta {
    flex: 0 1 40%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start; } }
.cart-container {
  display: flex;
  flex-direction: column;
  padding: 48px 24px;
  color: #484848;
  background: white; }

.cart-count {
  color: white;
  background-color: red;
  border-radius: 50%;
  font-size: 12px;
  padding: 0px 4px;
  margin: auto;
  position: relative;
  top: -16px;
  right: 8px; }

.cart-navigation {
  display: flex;
  justify-content: space-between; }

.continue-shopping {
  font-size: 14px;
  font-weight: 300; }
  .continue-shopping span {
    padding-right: 8px; }

.cart-self {
  display: flex;
  padding-top: 42px; }
  .cart-self header {
    padding: 16px;
    font-size: 16px;
    font-weight: 700;
    text-transform: uppercase; }

.cart-main {
  display: flex;
  flex-direction: column;
  flex: 1 1 65%; }
  .cart-main header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px;
    font-size: 16px;
    font-weight: 700;
    text-transform: capitalize;
    background: #fafafa; }

.cart-items {
  display: flex;
  flex-direction: column; }

.cart-item {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-content: center;
  padding: 16px;
  box-shadow: 0px 0px 1px 1px rgba(0, 0, 0, 0.05);
  margin: 8px 0; }

.cart-item img,
.cart-item,
.cart-summary,
.cart-main header {
  border-radius: 5px; }

.cart-item-image img {
  width: 80px;
  height: auto; }

.cart-details {
  align-content: flex-start;
  justify-content: space-between;
  display: flex;
  flex-direction: column;
  padding-left: 16px;
  flex: 1 1 50%; }

.cart-details-meta {
  display: flex;
  flex-direction: column;
  font-size: 14px;
  line-height: normal;
  color: rgba(0, 0, 0, 0.6);
  font-weight: 700; }
  .cart-details-meta h4 {
    padding-top: 8px; }
  .cart-details-meta span {
    padding-left: 8px; }
  .cart-details-meta input {
    padding: 4px 0;
    border: 1px solid #ccc;
    text-align: center; }

.cart-item-title {
  font-size: 16px;
  font-weight: 700; }

.cart-details-action {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  margin-top: 12px; }
  .cart-details-action .button {
    padding: 4px 8px;
    margin: 0;
    font-size: 10px; }
    .cart-details-action .button:first-child {
      margin-right: 8px; }

.cart-price {
  display: flex;
  justify-content: flex-end;
  color: red;
  flex: 0 1 20%;
  font-size: 14px; }
  .cart-price span {
    padding-right: 4px; }

.cart-summary-container {
  display: flex;
  flex-direction: column;
  flex: 0 1 30%;
  margin-left: 50px; }

.cart-summary {
  box-shadow: 0px 0px 1px 0 rgba(0, 0, 0, 0.2);
  position: sticky;
  top: 48px; }
  .cart-summary header {
    padding: 16px;
    font-size: 16px;
    height: 61px;
    display: flex;
    align-items: center;
    font-weight: 700;
    text-transform: capitalize;
    color: #484848;
    border-bottom: 1px solid #cccccc; }

.cart-summary-details {
  padding: 16px; }
  .cart-summary-details button {
    font-size: 12px;
    padding: 10px;
    font-weight: 700;
    width: 100%; }

.cart-summary-total {
  color: rgba(0, 0, 0, 0.6);
  font-size: 16px;
  font-weight: 300;
  padding-bottom: 16px; }
  .cart-summary-total span {
    padding: 0 8px 0 16px; }

.no-cart-item {
  padding-top: 32px; }
  .no-cart-item button {
    margin-top: 16px; }

/* Mini Summary details */
.mini-summary {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-content: center;
  color: #484848;
  font-size: 12px;
  font-weight: 300; }

.mini-summary-total {
  display: flex; }

.mini-value {
  padding-left: 8px; }

.mini-checkout {
  padding-top: 8px;
  color: rgba(0, 0, 0, 0.87); }
  .mini-checkout span {
    margin-left: 8px; }

@media screen and (min-width: 600px) {
  .cart-count {
    top: -6px;
    right: 6px; }

  .cart-item-image img {
    width: 100px; }

  .cart-details-action .button:first-child {
    margin-right: 16px; } }
@media screen and (min-width: 1280px) {
  .cart-container {
    padding: 62px 15vw; } }
/* The Modal (background) */
.modal {
  display: none;
  /* Hidden by default */
  position: fixed;
  /* Stay in place */
  z-index: 1;
  /* Sit on top */
  left: 0;
  top: 0;
  width: 100%;
  /* Full width */
  height: 100%;
  /* Full height */
  overflow: auto;
  /* Enable scroll if needed */
  background-color: black;
  /* Fallback color */
  background-color: rgba(0, 0, 0, 0.7);
  /* #484848 w/ opacity */ }

/* Modal Content */
.modal-content {
  position: relative;
  background-color: #fefefe;
  margin: auto;
  padding: 0;
  border: 1px solid #888;
  width: auto;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.4), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  animation-name: animatetop;
  animation-duration: 0.4s;
  background-color: white;
  color: #484848;
  border-radius: 5px; }

/* Modal Header */
.r48d, .modal-content p,
.modal-content div, .modal-content h4 {
  text-transform: capitalize;
  font-size: 14px;
  font-weight: 300;
  color: rgba(0, 0, 0, 0.6);
  line-height: normal; }

.modal-content p,
.modal-content div {
  padding-top: 12px; }

.modal-header {
  padding: 12px;
  border-bottom: 1px solid #cccccc; }

/* Modal Body */
.modal-body {
  padding: 16px; }
  .modal-body span {
    padding-left: 4px; }
  .modal-body .card-price {
    padding: 0; }
    .modal-body .card-price span:first-child {
      padding: 0; }

/* Modal Footer */
.modal-footer {
  text-align: center;
  border-top: 1px solid #cccccc;
  padding: 16px; }
  .modal-footer button:first-child {
    margin-bottom: 16px; }

/* modal quantity */
.modal-quantity {
  display: flex;
  align-items: center; }
  .modal-quantity input {
    width: auto;
    height: 32px;
    color: rgba(0, 0, 0, 0.6);
    border: 1px solid #cccccc;
    margin-left: 8px;
    padding: 0 8px; }
  .modal-quantity p {
    padding: 0; }

/* Add Animation */
@keyframes animatetop {
  from {
    top: -300px;
    opacity: 0; }

  to {
    top: 0;
    opacity: 1; } }

@media screen and (min-width: 600px) {
  .modal-footer button:first-child {
    margin-right: 24px;
    margin-bottom: 0; } }
.customer-dashboard {
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column; }
  .customer-dashboard .segment {
    border: 1px solid #efefef !important; }

.dashboard-logout {
  color: #faca33;
  margin-left: 16px; }

.cd-menu {
  color: white !important;
  font-size: 1.8em !important; }

.cd-border {
  border: 1px solid #efefef;
  border-radius: 5px;
  background: white; }

.cd-header {
  display: flex;
  justify-content: space-between;
  height: 64px;
  min-height: 64px;
  background-color: rgba(0, 0, 0, 0.9); }

.cd-header-logo {
  flex: 0 1 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(143, 141, 141, 0.8); }
  .cd-header-logo img {
    height: 32px;
    width: auto; }

.cd-logo {
  height: 20px; }

.cd-header-items {
  flex: auto;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin: 16px;
  color: white; }
  .cd-header-items .menu {
    left: -24px !important;
    top: 35px !important; }
  .cd-header-items .ui.dropdown .menu > .item:last-child:hover {
    background: rgba(244, 67, 54, 0.6);
    color: white; }

.cd-header-item {
  font-size: 14px;
  padding: 0 16px;
  color: rgba(0, 0, 0, 0.6);
  display: flex;
  align-items: center; }
  .cd-header-item span {
    padding: 0 8px; }
  .cd-header-item:hover,
  .cd-header-item :active {
    cursor: pointer; }

/* Dashboard User Details Dropdown CSS */
.u-dropdown {
  display: none;
  flex-direction: column;
  align-items: center;
  position: absolute;
  top: 56px;
  z-index: 558;
  margin: 24px -24px 0;
  border: 1px solid #fafafa; }
  .u-dropdown i {
    color: white; }

.u-dropdown-items {
  color: rgba(0, 0, 0, 0.6);
  background: white;
  padding: 10px;
  width: 165px;
  margin-top: -4px; }
  .u-dropdown-items ul {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start; }

.u-dropdown-item {
  width: 100%;
  font-weight: 700;
  padding: 8px; }
  .u-dropdown-item:not(:last-child) {
    border-bottom: 1px solid #cccccc; }
  .u-dropdown-item:hover,
  .u-dropdown-item :active {
    background-color: #fafafa; }
  .u-dropdown-item a {
    text-transform: capitalize;
    font-size: 12px; }

.reward-count {
  background-color: green;
  color: white;
  border-radius: 30px;
  font-size: 10px !important;
  padding: 0 4px !important;
  margin: auto;
  position: relative;
  top: -8px; }

/* dashboard container */
.cd-container {
  display: flex;
  width: 100%; }

/* sidebar */
.cd-sidebar {
  flex: 0 0 18%;
  height: calc(100vh - 60px);
  max-height: calc(100vh - 60px);
  background: white;
  color: rgba(0, 0, 0, 0.8);
  display: flex;
  flex-direction: column;
  align-content: flex-start; }
  .cd-sidebar .cd-s, .cd-sidebar ul,
  .cd-sidebar a {
    display: flex;
    flex-direction: column; }

.cd-sidebar-item {
  font-size: 14px;
  padding: 12px 10px;
  display: flex; }
  .cd-sidebar-item:hover, .cd-sidebar-item:active {
    background: #e8e8e8; }

.cd-sb-icon {
  flex: 1 1 10%; }

.cd-sb-name {
  font-size: 14px;
  font-weight: 700;
  flex: 1 1 70%; }

.cd-sb-caret-right {
  display: flex;
  flex-direction: flex-end;
  flex: 0 1 10%; }

.a33 {
  background: red;
  color: white;
  padding: 8px;
  margin: auto 24px auto 8px;
  border-radius: 5px; }

/* main-container */
.cd-main-container {
  min-height: min-content;
  width: 100%;
  flex: auto;
  padding: 24px;
  display: flex;
  flex-direction: column;
  background: #f7f7f7; }

/* home */
.cd-home-statistics {
  margin: 24px 0; }
  .cd-home-statistics .statistics {
    flex-direction: column;
    justify-content: space-between;
    margin: 0; }
  .cd-home-statistics .statistic {
    display: flex;
    width: 100%;
    padding: 16px 32px;
    border: 1px solid #efefef;
    border-radius: 5px;
    background: white; }
    .cd-home-statistics .statistic .value {
      font-size: 42px !important; }

.stat-details {
  display: flex;
  align-items: center; }

.stat-label {
  padding-left: 8px;
  font-size: 24px; }

.cd-home-chart-title {
  padding-top: 16px;
  text-align: center; }

.cd-home-chart {
  margin: 24px;
  display: flex;
  justify-content: center; }

/* account */
.field > .search {
  margin: 0 !important; }

/* cd auctions and products */
.cd-manage .form h4 {
  display: flex;
  align-items: center;
  justify-content: space-between; }

/* wallet */
.cd-wallet .form {
  padding-bottom: 24px; }
  .cd-wallet .form .field {
    padding: 0 !important; }
  .cd-wallet .form .input {
    width: 95% !important; }

.cd-wallet-details {
  display: flex;
  justify-content: space-around;
  padding: 32px 0; }
  .cd-wallet-details .statistics {
    margin: 0 !important; }

.cd-wallet-balance span {
  font-size: 42px; }

.ui.small.statistic > .value,
.ui.small.statistics .statistic > .value {
  font-size: 2rem !important; }

.cd-wallet-tokens img {
  font-size: 1em !important; }

.purchase-token {
  margin-top: 16px;
  width: 100%; }
  .purchase-token button {
    width: stretch; }

/* Order */
.cd-order-items {
  display: flex;
  flex-direction: column; }
  .cd-order-items .cart-item-title {
    font-weight: 700; }
  .cd-order-items .title {
    font-size: 12px !important; }

.cd-order-item {
  flex: auto;
  width: 100%; }

.relative {
  position: relative; }

.bid-status {
  position: absolute;
  right: 0;
  top: 0; }

.bid-status > .label {
  font-size: 12px !important;
  font-weight: 300 !important;
  padding: 8px !important; }

.description > .card-timer-container {
  display: unset; }

@media screen and (min-width: 600px) {
  .cd-header-logo {
    flex: 0 1 30%; }

  .cd-header-items {
    margin: 24px; }

  .cd-order-items {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between; }

  .cd-order-item {
    flex: 0 1 49%; } }
@media screen and (min-width: 1280px) {
  .cd-header-logo {
    margin: unset;
    flex: 0 1 18%; }

  .u-dropdown {
    margin: -8px 8px 0; }

  .cd-home-statistics .statistics {
    flex-direction: row; }
  .cd-home-statistics .statistic {
    width: unset;
    min-width: 23% !important; }

  .stat-details {
    display: unset;
    align-items: unset; }

  .stat-label {
    padding-left: unset;
    font-size: unset; }

  /* wallet */
  .cd-manage .top-products-list {
    justify-content: flex-start; }
    .cd-manage .top-products-list a {
      margin-right: 2px; }

  .purchase-token {
    margin: auto;
    width: unset; }
    .purchase-token button {
      width: unset; } }
