<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="theme-color" content="#000000">
  <meta name="csrf-token" content="{{ csrf_token() }}">
  <link rel="manifest" href="%PUBLIC_URL%/manifest.json">
  <link rel="shortcut icon" href="%PUBLIC_URL%/favicon.ico">
  <title>Homeauction Web</title>

  <!-- <link rel="stylesheet" href="/semantic.css"> -->
  <link type="image/svg+xml" href="/themes/default/assets/fonts/icons.svg">
  <link type="application/font-woff" href="/themes/default/assets/fonts/icons.eot">
  <link type="application/vnd.ms-fontobject" href="/themes/default/assets/fonts/icons.otf">
  <link type="application/x-font-ttf" href="/themes/default/assets/fonts/icons.ttf">
  <link type="font/otf" href="/themes/default/assets/fonts/icons.woff">
  <link type="application/font-woff2" href="/themes/default/assets/fonts/icons.woff2">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/noty/3.1.4/noty.min.css">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato:300,400,700,900" as="style">
</head>

<body>
  <noscript>
    You need to enable JavaScript to run this app.
  </noscript>
  <div id="root"></div>
</body>
<script src="//js.paystack.co/v1/inline.js"></script>

</html>