.accordion {
  display: flex;
  flex-direction: column;
  .title {
    font-size: 1.2em !important;
  }
}

.accordion-input-container {
  display: flex;
}

.acc-label {
  display: block;
  :not(:first-child) {
    margin-top: 4px;
  }
}

.price-range {
  justify-content: space-between;
  align-items: center;
  color: rgba($color: $cc, $alpha: 0.8);
  input {
    border: 1px solid rgba($color: $cc, $alpha: 0.8);
    flex: 0 1 45%;
    width: 45% !important;
    height: 36px;
  }
}

@media screen and (min-width: 900px) {
  .accordion {
    position: sticky;
    top: 40px;
  }
}