.all-products {
  display: flex;
  flex-direction: column;
  padding: 40px 24px;
}

.all-products-header {
  margin-bottom: 24px;
}

.all-products-pagination {
  display: flex;
  justify-content: center;
  margin-top: 24px;
}

@media screen and (min-width: 900px) {
  .all-products {
    flex-direction: row;
  }
  .all-products-sidebar {
    display: flex;
    flex-direction: column;
    flex: 0 0 22%;
    width: 22%;
    margin-right: 32px;
    .input {
      width: 100%;
      height: 45px;
      margin-top: 20px;
      &::-moz-placeholder {
        font-size: 14px;
      }
    }
  }

  .all-products-main {
    display: flex;
    flex-direction: column;
    flex: auto;
    .card {
      margin-right: 15px;
    }
    .top-products-list {
      justify-content: space-evenly;
    }
  }
}

@media screen and (min-width: 1280px) {
  .all-products {
    padding: 62px;
  }
  .all-products-sidebar {
    flex: 0 0 20%;
    width: 20%;
    margin-right: 62px;
  }
  .all-products-main {
    .card {
      margin-right: 20px;
    }
  }
}
