.cart-container {
  display: flex;
  flex-direction: column;
  padding: 48px 24px;
  color: #484848;
  background: white;
}

.cart-count {
  color: white;
  background-color: red;
  border-radius: 50%;
  font-size: 12px;
  padding: 0px 4px;
  margin: auto;
  position: relative;
  top: -16px;
  right: 8px;
}

.cart-navigation {
  display: flex;
  justify-content: space-between;
}

.continue-shopping {
  font-size: 14px;
  font-weight: 300;
  span {
    padding-right: 8px;
  }
}

.cart-self {
  display: flex;
  padding-top: 42px;
  header {
    padding: 16px;
    font-size: 16px;
    font-weight: 700;
    text-transform: uppercase;
  }
}

.cart-main {
  display: flex;
  flex-direction: column;
  flex: 1 1 65%;
  header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px;
    font-size: 16px;
    font-weight: 700;
    text-transform: capitalize;
    background: $fa;
  }
}

.cart-items {
  display: flex;
  flex-direction: column;
}

.cart-item {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-content: center;
  padding: 16px;
  box-shadow: 0px 0px 1px 1px rgba(0, 0, 0, 0.05);
  margin: 8px 0;
}

.cart-item img,
.cart-item,
.cart-summary,
.cart-main header {
  border-radius: 5px;
}

.cart-item-image {
  img {
    width: 80px;
    height: auto;
  }
}

.cart-details {
  align-content: flex-start;
  justify-content: space-between;
  display: flex;
  flex-direction: column;
  padding-left: 16px;
  flex: 1 1 50%;
}

.cart-details-meta {
  display: flex;
  flex-direction: column;
  font-size: 14px;
  line-height: normal;
  color: rgba($color: #000000, $alpha: 0.6);
  font-weight: 700;
  h4 {
    padding-top: 8px;
  }
  span {
    padding-left: 8px;
  }
  input {
    padding: 4px 0;
    border: 1px solid #ccc;
    text-align: center;
  }
}

.cart-item-title {
  font-size: 16px;
  font-weight: 700;
}

.cart-details-action {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  margin-top: 12px;
  .button {
    padding: 4px 8px;
    margin: 0;
    font-size: 10px;
    &:first-child {
      margin-right: 8px;
    }
  }
}

.cart-price {
  display: flex;
  justify-content: flex-end;
  color: red;
  flex: 0 1 20%;
  font-size: 14px;
  span {
    padding-right: 4px;
  }
}

.cart-summary-container {
  display: flex;
  flex-direction: column;
  flex: 0 1 30%;
  margin-left: 50px;
}

.cart-summary {
  box-shadow: 0px 0px 1px 0 rgba(0, 0, 0, 0.2);
  position: sticky;
  top: 48px;
  header {
    padding: 16px;
    font-size: 16px;
    height: 61px;
    display: flex;
    align-items: center;
    font-weight: 700;
    text-transform: capitalize;
    color: #484848;
    border-bottom: 1px solid #cccccc;
  }
}

.cart-summary-details {
  padding: 16px;
  button {
    font-size: 12px;
    padding: 10px;
    font-weight: 700;
    width: 100%;
  }
}

.cart-summary-total {
  color: rgba($color: #000000, $alpha: 0.6);
  font-size: 16px;
  font-weight: 300;
  padding-bottom: 16px;
  span {
    padding: 0 8px 0 16px;
  }
}

.no-cart-item {
  padding-top: 32px;
  button {
    margin-top: 16px;
  }
}

/* Mini Summary details */

.mini-summary {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-content: center;
  color: #484848;
  font-size: 12px;
  font-weight: 300;
}

.mini-summary-total {
  display: flex;
}

.mini-value {
  padding-left: 8px;
}

.mini-checkout {
  padding-top: 8px;
  color: $purple;
  span {
    margin-left: 8px;
  }
}

@media screen and (min-width: 600px) {
  .cart-count {
    top: -6px;
    right: 6px;
  }
  .cart-item-image {
    img {
      width: 100px;
    }
  }
  .cart-details-action {
    .button {
      &:first-child {
        margin-right: 16px;
      }
    }
  }
}

@media screen and (min-width: 900px) {}

@media screen and (min-width: 1280px) {
  .cart-container {
    padding: 62px 15vw;
  }
}