.card {
  display: flex;
  flex-direction: column;
  text-align: left;
  border: 0;
  border-radius: 5px;
  width: auto;
  position: relative; //box-shadow: 0px 0px 2px 2px rgba(0, 0, 0, 0.05);
  border: 1px solid #f3f3f3;
  img {
    height: 230px;
    width: auto;
    border: 0; //box-shadow: 0 0 1px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
  }
}

.card-tag {
  position: absolute;
  top: 0;
  right: 0;
  background: white;
  padding: 10px;
  margin: auto;
  border: 1px solid white;
  font-size: 12px;
  border-top-right-radius: 5px; //border: 1px solid $cc;
}

.card-meta {
  position: absolute;
  bottom: 0;
  padding: 16px 10px;
  background: transparent;
  color: white;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  width: 100%;
  h4 {
    font-size: 16px;
    line-height: normal;
  }
}

// .card-tag,
// .card-meta {
//   &:hover {
//     background-color: #f3f3f3;
//     border: 1px solid #e4e4e4;
//   }
// }

.card-meta-details {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 8px;
}

.card-price {
  flex: auto;
  font-size: 16px;
  font-weight: 400;
  color: white;
}

.card-meta-type {
  font-size: 16px;
}

// Countdown Timer
.card-timer-container {
  font-size: 12px;
  font-weight: 700;
  color: red;
  border: 1px solid red;
  border-radius: 5px;
  padding: 4px;
}

.card-timer-header {
  text-align: left;
  color: red;
}

.card-timer {
  // margin-top: 8px;
  display: flex;
  justify-content: space-around;
}

.card-timer-item {
  flex: auto;
  display: flex;
  flex-direction: column;
  text-align: left;
  &:not(:last-child) {
    padding-right: 5px;
  }
}

.timer-value {
  flex: auto;
  color: red;
}

.timer-meta {
  text-transform: uppercase;
}

.card-item-details {
  display: flex;
  align-items: center;
  justify-content: space-between;
  text-align: unset;
  height: 30px;
}

/* =====================
    MINI CARD CSS
====================== */

.mini-card-item {
  padding-bottom: 24px;
}

//Large Card css
.l-card-container {
  display: flex;
  flex-direction: column;
  padding: 24px;
  width: 100%;
  header {
    font-size: 24px;
    font-weight: 700;
    padding-bottom: 16px;
  }
}

.l-card {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
}

.l-card-main-image {
  display: flex;
  width: 100%;
  img {
    height: 200px;
    width: 100%;
  }
}

.l-card-other-images {
  padding-top: 22px;
  display: flex;
  justify-content: space-between;
}

.l-card-images {
  img {
    border-radius: 5px;
  }
}

.l-card-oi-item {
  img {
    //text-align: center;
    height: 60px;
  }
}

.l-card-meta {
  padding: 16p 0;
  display: flex;
  justify-content: flex-start;
}

.l-card-description {
  font-size: 14px;
  margin-top: 36px;
}

.l-quantity {
  padding-bottom: 24px;
}

.l-card-details {
  display: flex;
  flex-direction: column;
  align-content: center;
}

.l-action {
  display: flex;
  flex-direction: column;
  align-content: flex-start;
}

.l-action-message {
  padding-top: 8px;
  color: rgba($color: #000000, $alpha: 0.6);
  font-size: 12px;
}

.l-card-price-message {
  padding-top: 8px;
  font-size: 12px;
  color: rgba($color: #000000, $alpha: 0.6);
}

.save-for-later {
  display: flex;
  span {
    padding-left: 4px;
    font-size: 12px;
    font-weight: 300;
  }
}

.l-quantity {
  h4 {
    font-size: 14px;
    text-transform: capitalize;
    font-weight: 400;
    padding: 16px 0 8px;
  }
  input {
    text-align: center;
    width: 50px;
    font-size: 16px;
    height: 32px;
    color: rgba($color: #000000, $alpha: 0.6);
    border: 1px solid $cc;
    &:hover,
    :active {
      outline: none;
    }
  }
}

.l-card-price-container {
  display: flex;
  align-items: center;
}

.l-card-price {
  color: red;
  font-size: 14px;
  span {
    padding-right: 8px;
  }
}

.l-no-of-bids {
  display: flex;
  padding: 16px 0;
  h4 {
    font-size: 14px;
    font-weight: 700;
    span {
      color: red;
      padding-left: 8px;
    }
  }
}

@media screen and (min-width: 600px) {
  .card {
    //box-shadow: 0px 0px 2px 2px rgba(0, 0, 0, 0.05);
    img {
      height: 280px;
      width: 224px;
    }
  }
  .card-price {
    font-size: 16px;
  }
  .card-meta-type {
    font-size: 12px;
  }
  .card-tag {
    padding: 8px;
    font-size: 12px;
  } // Large card css
  .l-card-main-image {
    img {
      height: 500px;
    }
  }
  .l-card-oi-item {
    img {
      height: 100px;
    }
  }
  .l-action {
    button {
      width: 25%;
      min-height: 40px !important;
    }
  }
  .l-card-price {
    font-size: 20px;
    font-weight: 900;
  }
  .l-quantity {
    input {
      width: 54px;
      font-size: 20px;
      height: 36px;
    }
  }
}

@media screen and (min-width: 768px) {
  .l-card-oi-item {
    img {
      height: 140px;
    }
  }
}

@media screen and (min-width: 900px) {
  .l-card-oi-item {
    img {
      height: 200px;
    }
  }
}

@media screen and (min-width: 1280px) {
  .card-timer-header {
    text-align: right;
  }
  .l-card-container {
    padding: 48px 62px;
    header {
      padding-top: unset;
    }
  }
  .l-card {
    flex-direction: row;
  }
  .l-card-other-images {
    padding-top: 10px;
  }
  .l-card-main-image {
    img {
      height: 315px;
    }
  }
  .l-card-oi-item {
    img {
      max-height: 160px;
      // height: auto;
      width: 96%;
    }
    &:last-child {
      text-align: right;
    }
    &:not(:first-child):not(:last-child) {
      text-align: center;
    }
  }
  .l-card-images {
    flex: 0 0 50%;
  }
  .l-card-details {
    margin-left: 50px;
    flex: 1 1 50%;
  }
  .l-card-meta {
    .stars-outer,
    .stars-inner {
      font-size: 28px;
    }
  }
  .l-card-description {
    overflow: scroll;
    height: 150px;
    flex: auto;
  }
  .l-card-other-meta {
    flex: 0 1 40%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
  }
}
