.billing,
.shipping,
.review-order,
.checkout-payment,
.place-order-container {
  padding-top: 32px;
}

.checkout-payment-items {
  display: flex;
  flex-direction: column;
}

.checkout-payment-gateway {
  display: flex;
  align-items: center;
  padding-top: 24px;
  img {
    margin-right: 16px;
  }
  button {
    color: white;
  }
}

.place-order-container {
  display: flex;
  justify-content: center;
}