.customer-dashboard {
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  * {
    //font-size: 14px !important;
    //font-weight: 400;
  }
  .segment
  //,.header:first-child 
 {
    border: 1px solid #efefef !important;
  }
}

.dashboard-logout {
  color: $yellow;
  margin-left: 16px;
}

.cd-menu {
  color: white !important;
  font-size: 1.8em !important;
}

.cd-border {
  border: 1px solid #efefef;
  border-radius: 5px;
  background: white;
}

.cd-header {
  display: flex;
  justify-content: space-between;
  height: 64px;
  min-height: 64px;
  background-color: rgba($color: #000000, $alpha: 0.9);
}

.cd-header-logo {
  flex: 0 1 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(143, 141, 141, 0.8);
  img {
    height: 32px;
    width: auto;
  }
}

.cd-logo {
  height: 20px;
}

.cd-header-items {
  flex: auto;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin: 16px;
  color: white;
  .menu {
    left: -24px !important;
    top: 35px !important;
  }
  .ui.dropdown .menu > .item:last-child:hover {
    background: rgba($color: #f44336, $alpha: 0.6);
    color: white;
  }
}

.cd-header-item {
  font-size: 14px;
  padding: 0 16px;
  color: rgba($color: #000000, $alpha: 0.6);
  display: flex;
  align-items: center;
  span {
    padding: 0 8px;
  }
  &:hover,
  :active {
    cursor: pointer;
  }
}

/* Dashboard User Details Dropdown CSS */

.u-dropdown {
  display: none;
  flex-direction: column;
  align-items: center;
  position: absolute;
  top: 56px;
  z-index: 558;
  margin: 24px -24px 0;
  border: 1px solid $fa;
  i {
    color: white;
  }
}

.u-dropdown-items {
  color: rgba($color: #000000, $alpha: 0.6);
  background: white;
  padding: 10px;
  width: 165px;
  margin-top: -4px;
  ul {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
  }
}

.u-dropdown-item {
  width: 100%;
  font-weight: 700;
  padding: 8px;
  &:not(:last-child) {
    border-bottom: 1px solid $cc;
  }
  &:hover,
  :active {
    background-color: $fa;
  }
  a {
    text-transform: capitalize;
    font-size: 12px;
  }
}

.reward-count {
  background-color: green;
  color: white;
  border-radius: 30px;
  font-size: 10px !important;
  padding: 0 4px !important;
  margin: auto;
  position: relative;
  top: -8px;
}

/* dashboard container */

.cd-container {
  display: flex;
  width: 100%;
  // height: 100%;
}

/* sidebar */

.cd-sidebar {
  flex: 0 0 18%;
  height: calc(100vh - 60px);
  max-height: calc(100vh - 60px);
  background: white;
  color: rgba($color: #000000, $alpha: 0.8);
  display: flex;
  flex-direction: column;
  align-content: flex-start;
  .cd-s {
    display: flex;
    flex-direction: column;
  }
  ul,
  a {
    @extend .cd-s;
  }
}

.cd-sidebar-item {
  font-size: 14px;
  padding: 12px 10px;
  display: flex;
  &:hover,
  &:active {
    background: #e8e8e8;
  }
}

.cd-sb-icon {
  flex: 1 1 10%;
}

.cd-sb-name {
  font-size: 14px;
  font-weight: 700;
  flex: 1 1 70%;
}

.cd-sb-caret-right {
  display: flex;
  flex-direction: flex-end;
  flex: 0 1 10%;
}

.a33 {
  background: red;
  color: white;
  padding: 8px;
  margin: auto 24px auto 8px;
  border-radius: 5px;
}

/* main-container */

.cd-main-container {
  // height: 100vh;
  min-height: min-content;
  width: 100%;
  flex: auto;
  padding: 24px;
  display: flex;
  flex-direction: column;
  background: #f7f7f7;
}

/* home */

.cd-home-statistics {
  margin: 24px 0;
  .statistics {
    flex-direction: column;
    justify-content: space-between;
    margin: 0;
  }
  .statistic {
    display: flex;
    width: 100%;
    padding: 16px 32px;
    border: 1px solid #efefef;
    border-radius: 5px; // margin: 8px !important;
    background: white;
    .value {
      font-size: 42px !important;
    }
  }
}

.stat-details {
  display: flex;
  align-items: center;
}

.stat-label {
  padding-left: 8px;
  font-size: 24px;
}

.cd-home-chart-title {
  padding-top: 16px;
  text-align: center;
}

.cd-home-chart {
  margin: 24px;
  display: flex;
  justify-content: center;
}

/* account */
.field > .search {
  margin: 0 !important;
}

/* cd auctions and products */

.cd-manage {
  .form {
    h4 {
      display: flex;
      align-items: center;
      justify-content: space-between;
    }
  }
}

/* wallet */

.cd-wallet {
  .form {
    padding-bottom: 24px;
    .field {
      padding: 0 !important;
    }
    .input {
      width: 95% !important;
    }
  }
}

.cd-wallet-details {
  display: flex;
  justify-content: space-around;
  padding: 32px 0;
  .statistics {
    margin: 0 !important;
  }
}

.cd-wallet-balance {
  span {
    font-size: 42px;
  }
}

//semantic
.ui.small.statistic > .value,
.ui.small.statistics .statistic > .value {
  font-size: 2rem !important;
}

.cd-wallet-tokens {
  img {
    font-size: 1em !important;
  }
}
.purchase-token {
  margin-top: 16px;
  width: 100%;
  button {
    width: stretch;
  }
}

/* Order */

.cd-order-items {
  display: flex;
  flex-direction: column;
  .cart-item-title {
    font-weight: 700;
  }
  .title {
    font-size: 12px !important;
  } // .ui[class*="top right attached"].label {
  //   bottom: 0 !important;
  // }
}

.cd-order-item {
  flex: auto;
  width: 100%;
}

.relative {
  position: relative;
}

.bid-status {
  position: absolute;
  right: 0;
  top: 0;
}

.bid-status > .label {
  font-size: 12px !important;
  font-weight: 300 !important;
  padding: 8px !important;
}

.description > .card-timer-container {
  display: unset;
}

@media screen and (min-width: 600px) {
  .cd-header-logo {
    flex: 0 1 30%;
  }
  .cd-header-items {
    margin: 24px;
  }
  .cd-order-items {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
  }
  .cd-order-item {
    flex: 0 1 49%;
  }
}

@media screen and (min-width: 1280px) {
  .cd-header-logo {
    margin: unset;
    flex: 0 1 18%;
  }
  .u-dropdown {
    margin: -8px 8px 0;
  }
  .cd-home-statistics {
    .statistics {
      flex-direction: row;
    }
    .statistic {
      width: unset;
      min-width: 23% !important;
    }
  }
  .stat-details {
    display: unset;
    align-items: unset;
  }
  .stat-label {
    padding-left: unset;
    font-size: unset;
  }
  /* wallet */
  .cd-manage {
    .top-products-list {
      justify-content: flex-start;
      a {
        margin-right: 2px;
      }
    }
  }
  .purchase-token {
    margin: auto;
    width: unset;
    button {
      width: unset;
    }
  }
}
