.site-footer {
  display: flex;
  justify-content: space-evenly;
  background-color: white;
  border-top: $border-top;
  padding: 16px 24px;
}

.site-footer-item {
  font-size: 12px;
  text-transform: uppercase;
}

.w-site-footer {
  display: flex;
  justify-content: space-between;
  background-color: white;
  font-weight: 300;
  border-top: $border-top;
  padding: 40px 5%;
  margin: 0 auto;
}

.w-site-footer-column {
  display: flex;
  flex-direction: column;
  align-content: center;
  h4 {
    font-size: 12px;
    // color: #484848;
    // font-weight: 300;
    color: rgba(0, 0, 0, 0.74);
    font-weight: 700;
    text-transform: uppercase;
    padding-bottom: 20px;
  }
  img {
    width: 150px;
  }
}

.w-footer-item {
  color: rgba(0, 0, 0, 0.54);
  font-size: 12px;
  font-weight: 700;
  text-transform: capitalize;
  padding-bottom: 12px;
}

.social-icons {
  display: flex;
  justify-content: space-between;
  i {
    padding-right: 15px;
  }
}
@media screen and (min-width: 900px) {
.w-site-footer {
  padding: 40px 0;
  max-width: 840px;
}
}

@media screen and (min-width: 1280px) {
  .w-site-footer {
    max-width: 1220px;
  }
}