@import url('https://fonts.googleapis.com/css?family=Raleway');
// $yellow: #feca0b;
$yellow: #faca33;
$purple: rgba(0, 0, 0, 0.87);
$fa: #fafafa;
$cc: #cccccc;
$blue: #191970;
$ash: #696b84;
$text: #484848;
$border-top: 1px solid rgba(80, 80, 80, 0.15);

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  :focus {
    outline: 2px solid#faca33;
  }
}

body {
  font-family: 'Raleway', -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
  color: black;
  letter-spacing: 1px;
  background: white;
}

ul,
li {
  list-style: none;
}

a {
  text-decoration: unset;
  color: inherit;
}

::placeholder {
  color: rgba($color: #000000, $alpha: 0.3);
  font-size: 16px;
  font-weight: 300;
}

::selection {
  background: $yellow;
  color: $purple;
}

::-webkit-scrollbar {
  width: 0 !important;
  height: 0 !important;
}

button:disabled {
  opacity: 0.54;
  cursor: not-allowed;
}

button,
a {
  cursor: pointer;
}

.loader {
  position: absolute;
  left: 48%;
  top: 48%;
  border: 5px solid #000000be;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  animation: spin 2s linear infinite;
  -webkit-animation: spin 2s linear infinite;
}

.loader-inverse {
  position: absolute;
  left: 48%;
  top: 48%;
  border: 5px solid #faca33;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  animation: spin 2s inverse infinite;
}

.loader--mixed {
  position: relative;
  top: 0;
  left: 0;
  margin: auto;
  border-top-color: #faca33;
  border-left-color: #faca33;
  border-right-color: #000000be;
  border-bottom-color: #000000be;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
  }

  100% {
    -webkit-transform: rotate(360deg);
  }
}

.line {
  border: 1px solid rgba($color: #000000, $alpha: 0.2);
  margin: 0 62px;
}

.count {
  font-size: 12px;
  position: relative;
  top: -8px;
  color: red;
}

.f {
  display: flex;
}

.f-sb {
  justify-content: space-between !important;
}

.f-sa {
  justify-content: space-around !important;
}

.f-end {
  justify-content: flex-end;
}

.yellow {
  background-color: $yellow;
}

.color-white {
  color: white !important;
}

.purple {
  background-color: $purple;
}

.red-color {
  color: red;
}

.m-padding {
  padding: 24px;
}

.w-padding {
  margin: 0 62px;
}

.pad-tb-16 {
  padding: 16px !important;
}

.bg-white {
  background-color: white !important;
}

.custom-input {
  position: relative;
  width: 100%;
  border-radius: 5px;
  height: 45px;
  border: 0;
  padding-left: 16px;
  background: white;
  color: #484848;
  font-size: 18px;
  // &:focus {
  //   outline: unset !important;
  // }
}

.accordion,
label,
.pagination {
  font-size: 12px !important;
}

.no-border {
  border: none !important;
}

.button {
  border-radius: 5px;
  padding: 8px;
  font-size: 13px;
  margin: auto;

  i {
    padding-right: 4px;
  }
}

.tb {
  border: 0;
  padding: 12px;
  font-weight: 700 !important;
  font-size: 12px;
  border-radius: 5px;

  i {
    padding-right: 8px;
  }
}

.theme-button {
  @extend .tb;
  color: rgba($color: #000000, $alpha: 0.9);
  background: #faca33;
}

.theme-button-inverse {
  @extend .tb;
  background: rgba($color: #000000, $alpha: 0.9);
  color: #faca33;
}

.theme-bgcolor-2 {
  font-weight: 700;
  font-size: 14px !important;
  background: #faca33 !important;
  color: rgba($color: #000000, $alpha: 0.9) !important;
}

.divider {
  margin: 0 16px;
}

.save-button {
  color: white;
  background-color: midnightblue;
}

.remove-button {
  color: white;
  background-color: red;
}

.edit-button {
  color: white;
  background-color: green;
}

.purple-button {
  color: white;
  background-color: $purple;
}

/* padding css */

.pad-b-24 {
  padding-bottom: 24px;
}

.pad-r-24 {
  padding-right: 16px;
}

/* margin css */

.mag-l-24 {
  margin-left: 24px;
}

/* flexbox */

.f-start {
  justify-content: flex-start !important;
}

/* token CSS */

.token-container {
  padding: 0 4px;
}

.token-layout {
  align-items: center;
  padding-right: 4px;

  span {
    font-weight: 900;
    padding-right: 4px;
  }

  img {
    width: 24px;
    height: 24px;
  }
}

/* dashboard dropdwon */

.ui.dropdown .menu {
  .item {
    position: relative;
    cursor: pointer;
    display: block;
    border: none;
    height: auto;
    text-align: left;
    border-top: none;
    line-height: 1em;
    color: rgba(0, 0, 0, 0.87);
    padding: 0.78571429rem 1.14285714rem !important;
    font-size: 1rem;
    text-transform: none;
    font-weight: 400;
    box-shadow: none;
    -webkit-touch-callout: none;
  }
}

/* Not Found CSS */

.not-found {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  background: white;
  min-height: calc(100vh - 225.27px);
  margin: auto;

  h2 {
    font-size: calc(100vw * 0.1);
  }

  p {
    padding-top: 15px;
  }

  .button {
    background: transparent;
    margin: 16px auto 0;
  }
}

@media screen and (min-width: 600px) {
  .not-found {
    min-height: calc(100vh - 438.05px);

    p {
      padding-top: 16px;
    }
  }
}

@media screen and (min-width: 768px) {
  .not-found {
    min-height: calc(100vh - 134px);
  }
}

/* semantic css */

.ui.styled.accordion .content,
.ui.styled.accordion .accordion .content {
  border-top: 1px solid rgba(80, 80, 80, 0.15);
}