.m-site-header-container {
  background-color: rgba($color: #000000, $alpha: 0.9);
  .search {
    flex: auto;
    margin-right: 8px;
  }
}

.m-site-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 24px 24px 0;
}

.site-logo {
  flex: auto;
  img {
    width: 140px;
    height: auto;
  }
}

.site-items {
  display: flex;
  align-items: center;
}

.site-menu {
  padding-left: 16px;
}

.m-site-header-sub {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 24px 24px 0;
  padding-bottom: 24px;
  i {
    color: white;
    margin: 0;
  }
  form {
    flex: auto;
  }
}

.m-cart {
  position: relative;
  color: white;
  left: 8px;
  top: -2px;
}

.w-site-logo {
  img {
    width: 140px;
    height: auto;
  }
}

.w-site-items {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  color: rgba($color: #000000, $alpha: 0.54);
  ul {
    display: flex;
    align-items: center;
  }
}

.w-site-item {
  text-transform: uppercase;
  font-size: 11px;
  font-weight: 700;
  padding: 0 8px;
  &:not(:first-child) {
    border-left: 1px solid $cc;
  }
  &:last-child {
    padding-right: 0;
  } // &:not(:first-child) {
  //   margin-left: 20px;
  //   a {
  //     padding: 10px 15px;
  //     border: 2px solid white;
  //     border-radius: 5px;
  //   }
  // }
}

.w-site-header {
  display: flex;
  justify-content: space-between;
  align-content: center;
  width: 100%;
  padding: 8px 30px;
  color: rgba($color: #000000, $alpha: 0.6);
  background-color: white;
  box-shadow: 0 2px 0px rgba(0, 0, 0, 0.15);
}

// Mobile Side Navigation CSS
.m-sidenav {
  display: none;
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  z-index: 1001;
}

.m-nav-items {
  position: fixed;
  width: 75%;
  top: 0;
  bottom: 0;
  right: 0;
  color: rgba($color: #000000, $alpha: 0.6);
  background-color: white;
  padding: 10px;
  ul {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
  }
}

.m-nav-item {
  width: 100%;
  font-weight: 700;
  padding: 20px;
  border-bottom: 1px solid $cc;
  a {
    text-transform: capitalize;
    font-size: 14px;
  }
}

@media screen and (min-width: 600px) {
  .oh-super-nav {
    background: white;
    color: rgba($color: #000000, $alpha: 0.6);
    padding: 12px 24px;
    ul {
      display: flex;
      justify-content: flex-end;
    }
  }
  .oh-super-nav-item {
    padding: 0 10px;
    &:not(:last-child) {
      border-right: 1px solid $cc;
    }
    a {
      text-transform: uppercase;
      font-size: 11px;
      font-weight: 700;
    }
  }
  .oh-sub-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: rgba(0, 0, 0, 0.9);
    color: white;
    padding: 10px 24px;
  }
  .oh-site-logo {
    flex: 0 1 12%;
    img {
      width: 100%;
      height: auto;
    }
  }
  .oh-search {
    flex: 1 1 60%;
    .search {
      margin: 0 8%;
    }
  }
  .oh-actions {
    flex: 0 0 5%; //flex: 0 0 15%; //for saved-items
    display: flex;
    justify-content: flex-end;
    width: 100%;
    &:last-child {
      a {
        margin-left: 16px;
      }
    }
  }
  .oh-r94 {
    display: flex;
    width: 100%;
    h4 {
      font-size: 14px;
      font-weight: 300;
    }
  }
  .oh-saved-items {
    @extend .oh-r94;
    i {
      padding-right: 8px;
    }
  }
  .oh-cart {
    @extend .oh-r94;
  }
}

@media screen and (min-width: 1280px) {
  padding: 45px 62px 0;
  .oh-super-nav {
    padding: 8px 62px;
  }
  .oh-sub-nav {
    padding: 10px 62px;
  }
  .oh-search {
    flex: 1 1 70%;
  }
  .oh-site-logo {
    flex: 0 1 10%;
  }
}
