/// latest css for mobile
.m-home-landing {
  display: flex;
  flex-direction: column;
  text-align: center;
  color: white;
  h1 {
    font-size: 18px;
    letter-spacing: 1px;
    line-height: 30px;
    font-weight: 900;
    padding-bottom: 12px;
  }
  .text {
    color: $yellow;
  }
}

.hero {
  height: 80vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: left;
}

.bg-img {
  .i {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    height: 100vh;
    width: auto;
    overflow: hidden;
    content: "";
  }
  .bg-overlay {
    @extend .i; // background: rgba($color: $purple, $alpha: 0.8);
    // background: rgba(26, 29, 62, 0.8);
    // background: rgba(9, 14, 64, 0.8);
    // background: rgba(76, 78, 109, 0.8);
    // background: rgba(52, 52, 52, 0.7); the last one used on the site
    background: rgba(0, 0, 0, 0.7);
    z-index: -3;
  }
  .bg-overlay-black {
    @extend .i;
    background: rgba($color: black, $alpha: 0.7);
    z-index: -3;
  }
  img {
    @extend .i;
    z-index: -5;
  }
}

.landing-action {
  margin-top: 35px;
  display: flex;
  justify-content: center;
}

.bt {
  border: 2px solid white;
}

.top-categories {
  display: flex;
  flex-direction: column;
  background: white;
}

.top-category-item {
  text-align: center;
  width: 100%;
  flex: auto;
  display: flex;
  height: 64px;
  background: $fa;
  border-bottom: 1px solid $cc;
  h3 {
    font-weight: 300;
    margin: auto;
    font-size: 14px;
    color: #484848;
  }
}

.m-featured {
  color: rgba($color: #000000, $alpha: 0.7);
  background: white;
  padding: 40px 24px;
  min-height: 400px;
  display: flex;
  flex-direction: column;
  align-content: space-between;
  .f-title {
    text-align: left;
    padding-bottom: 24px;
  }
}

.m-featured-item {
  margin-bottom: 24px;
  border-radius: 5px;
  background: white;
  width: stretch;
}

.more-featured-items {
  background: #ffffff;
  border: 1px solid #cccccc;
  border-radius: 5px;
  color: rgba($color: #000000, $alpha: 0.7);
  padding: 12px;
  /* margin: auto; */
  font-size: 12px;
  /* font-weight: 700; */
}

.m-categories-hero {
  background: white;
  padding-top: 26px;
  color: #484848;
  min-height: 300px;
}

.cat-title {
  background: white;
  color: rgba($color: #000000, $alpha: 0.7);
  text-align: left;
  padding: 0 24px 24px;
}

.m-categories {
  display: flex;
  flex-flow: row wrap;
  width: 100%;
  background: white;
  min-height: 300px;
}

.m-categories-item {
  flex: 0 0 50%;
  background: white;
  color: #484848;
  border: 1px solid #eaeaea;
  padding: 24px;
  margin: auto;
  font-size: 14px;

  &:hover:active {
    background: #eaeaea;
  }
}

.search-again-container {
  position: relative;
  //margin: auto;
  height: 88px;
  max-height: 88px;
  button {
    position: absolute;
    top: calc((88px - 34px) / 2);
    left: calc((100% - 61px) / 2);
    font-weight: 700;
    color: rgba($color: #000000, $alpha: 0.7);
  }
}

@media screen and (min-width: 600px) {
  .w-home-landing {
    display: flex;
    flex-direction: column;
    color: white;
    h1 {
      font-size: 24px;
      line-height: 30px;
      font-weight: 900;
      padding-bottom: 16px;
    }
    .text {
      color: $yellow;
    }
  }
  .hero {
    h1 {
      text-align: left;
      font-size: 24px;
      line-height: normal;
    }
    .search {
      input {
        height: 60px;
      }
      input::placeholder {
        margin: auto;
        font-size: 16px;
        font-weight: 700;
      }
      button {
        margin: 3px;
        height: 54px;
        padding: 0px 30px;
      }
    }
  }
  .bg-img {
    img,
    .bg-overlay {
      width: 100%;
      height: auto;
    }
  }
  .landing-action {
    margin: 35px 15%;
  }
  .hot-deals-hero {
    color: #484848;
    background: white;
    width: 100%;
    padding: 48px 62px 0;
    h3 {
      font-size: 20px;
      text-transform: capitalize;
      padding-bottom: 24px;
    }
  }
  .hot-deals {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    min-height: 230px;
  }
  .site-details-hero {
    background-color: $fa;
    color: rgba($color: #000000, $alpha: 0.6);
    padding: 40px 10%;
  }
  .site-details {
    display: flex;
    justify-content: space-between;
  }
  .site-details-item {
    display: flex;
    flex: 0 1 22%;
  }
  .details-icon {
    padding-right: 10px;
  }
  .details-message {
    p {
      padding-top: 0;
      font-size: 12px;
    }
  }
  /* Next Section */
  .more-details-hero {
    background: white;
    color: #484848;
    display: flex;
    flex-direction: column;
    padding: 48px 62px 0;
    min-height: 300px;
    .top-products {
      padding: 0;
      header {
        padding-top: 0;
      }
      .top-products-list-item {
        padding-bottom: 0;
      }
    }
  }
  /* Popular Categories */
  .popular-categories {
    border-radius: 5px;
    display: flex;
    width: 100%;
    flex-direction: column;
    padding: 25px 0;
    h4 {
      font-size: 22px;
      padding-bottom: 50px;
    }
  }
  .ct-list {
    width: 100%;
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
  }
  .ct-list-item {
    &:not(:last-child) {
      margin-right: 16px;
    }
  }
  .ct-button {
    border-radius: 5px;
    padding: 8px;
    font-size: 14px;
    margin: auto;
    line-height: 54px;
    border: 1px solid rgba($color: #000000, $alpha: 0.2);
    &:hover {
      outline: 2px solid $yellow;
      outline-offset: 8px;
    }
  }
  .ct-img {
    position: relative;
    height: 230px;
    width: 100%;
    img {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
    }
    button {
      position: absolute;
      bottom: calc((170px) / 2);
      left: calc((100% - 96.125px) / 2);
      background: $yellow;
      color: #484848;
      font-weight: 700;
      border: 0;
      border-radius: 5px;
      padding: 15px 25px;
      margin: auto;
      font-size: 14px;
    }
  }
  .product-display-hero {
    position: relative;
    display: flex;
    color: #484848;
    background: white;
    padding: 48px 62px;
    width: 100%;
    img {
      border-radius: 5px;
      margin: 0 5%;
      width: 90%;
    }
  }
  .pd-links {
    position: absolute;
    bottom: 64px;
    left: calc((100% - 170.04px) / 2);
    display: flex;
    justify-content: center;
    align-items: flex-end;
  }
  .pd-links-item {
    text-transform: uppercase;
    border-radius: 5px;
    padding: 8px;
    background: white;
    color: $ash;
    font-size: 12px;
    font-weight: 700;
    &:first-child {
      margin-right: 16px;
    }
    &:hover {
      background: $yellow;
    }
  }
}

@media screen and (min-width: 900px) {
  .hero {
    height: unset;
    h1 {
      margin: 10% 10% 0;
    }
  }
  .landing-action {
    margin: 35px 30%;
  }
  .product-display-hero {
    padding: 48px 62px;
  }
}

@media screen and (min-width: 1280px) {
  // New css for clients wider than 1280px because of different page
  .landing-action {
    margin: 35px 35%;
  }
  .hero {
    h1 {
      margin: 10% 20% 0;
    }
  }
  .more-details-hero {
    flex-direction: row;
    justify-content: space-between;
    .top-products {
      padding-right: 24px;
      flex: 1 1 50%;
    }
  }
  .popular-categories {
    flex: 0 0 40%;
    border: 1px solid $cc;
    padding: 40px;
    h4 {
      padding-bottom: 30px;
    }
  }
  .ct-list-item {
    padding-right: 1vw;
  }
}
