.login-form {
  height: 100vh;
  overflow: hidden;
  margin: 0 24px;
  .bg-img {
    height: 100%;
    width: auto;
  }
}

.authpage-header {
  img {
    height: 32px !important;
    width: auto !important;
    margin-bottom: 24px;
  }
}

@media screen and (min-width: 600px) {
  .login-form {
    margin: 0;
  }
}
