/* The Modal (background) */

.modal {
  display: none;
  /* Hidden by default */
  position: fixed;
  /* Stay in place */
  z-index: 1;
  /* Sit on top */
  left: 0;
  top: 0;
  width: 100%;
  /* Full width */
  height: 100%;
  /* Full height */
  overflow: auto;
  /* Enable scroll if needed */
  background-color: rgb(0, 0, 0);
  /* Fallback color */
  background-color: rgba(0, 0, 0, 0.7);
  /* #484848 w/ opacity */
}

/* Modal Content */

.modal-content {
  position: relative;
  background-color: #fefefe;
  margin: auto;
  padding: 0;
  border: 1px solid #888;
  width: auto;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.4), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  animation-name: animatetop;
  animation-duration: 0.4s;
  background-color: white;
  color: #484848;
  border-radius: 5px;
}

/* Modal Header */

.r48d {
  text-transform: capitalize;
  font-size: 14px;
  font-weight: 300;
  color: rgba(0, 0, 0, 0.6);
  line-height: normal;
}

.modal-content {
  p,
  div,
    {
    @extend .r48d;
    padding-top: 12px;
  }
  h4 {
    @extend .r48d;
  }
}

.modal-header {
  padding: 12px;
  border-bottom: 1px solid $cc;
}

/* Modal Body */

.modal-body {
  padding: 16px;
  span {
    padding-left: 4px;
  }
  .card-price {
    padding: 0;
    span:first-child {
      padding: 0;
    }
  }
}

/* Modal Footer */

.modal-footer {
  text-align: center;
  border-top: 1px solid $cc;
  padding: 16px;
  button:first-child {
    margin-bottom: 16px;
  }
}

/* modal quantity */

.modal-quantity {
  display: flex;
  align-items: center;
  input {
    width: auto;
    height: 32px;
    color: rgba(0, 0, 0, 0.6);
    border: 1px solid #cccccc;
    margin-left: 8px;
    padding: 0 8px;
  }
  p {
    padding: 0;
  }
}

/* Add Animation */

@keyframes animatetop {
  from {
    top: -300px;
    opacity: 0
  }
  to {
    top: 0;
    opacity: 1
  }
}

@media screen and (min-width: 600px) {
  .modal-footer {
    button:first-child {
      margin-right: 24px;
      margin-bottom: 0;
    }
  }
}

@media screen and (min-width: 900px) {
  // .modal-content {
  //   width: 70%;
  // }
}

@media screen and (min-width: 1280px) {
  // .modal-content {
  //   width: 40%;
  // }
}