.top-products {
  display: flex;
  width: 100%;
  flex-direction: column;
  padding: 40px 0 24px;
  header {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    padding-bottom: 30px;
    h4 {
      font-size: 20px;
    }
    .see-all {
      font-size: 16px;
      color: red;
    }
  }
}

.top-products-list-item {
  padding-bottom: 30px;
}

.p-product-item {
  display: flex;
  flex-direction: column;
  background: white;
}

.p-featured-products {
  padding: 0 24px;
  background-color: white;
}

@media screen and (min-width: 600px) {
  .top-products-list {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    min-height: 230px;
  }
}

@media screen and (min-width: 768px) {
  .p-featured-products {
    padding: 0 62px;
  }
}

@media screen and (min-width: 1280px) {
  .top-products {
    padding-top: unset;
    flex: 0 1 50%;
    header {
      padding-top: 40px;
    }
  }
  .p-product-item {
    flex-direction: row;
  }
}