.search-not-found {
  p {
    padding-bottom: 16px;
  }
}

.filter-toggle {
  color: red;
  background-color: transparent;
  margin-bottom: 24px;
  border: none;
  width: fit-content;
  i {
    padding-right: 4px;
  }
}