// margin: 0 auto 0;
// display: flex;
// justify-content: center;
// align-items: center;
.search {
  width: auto;
  position: relative;
  input {
    position: relative;
    width: 100%;
    border-radius: 5px;
    height: 45px;
    border: 0;
    padding-left: 16px;
    background: white;
    color: #484848;
    font-size: 18px;
    &:focus {
      outline: 2px solid#faca33;
    }
  }
  button {
    margin: 3px;
    height: 39px;
    padding: 0 15px;
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    background: $yellow;
    border: 0;
    border-bottom-right-radius: 5px;
    border-top-right-radius: 5px;
    cursor: pointer;
  }
}

@media screen and (min-width: 900px) {
  .search {
    margin: 0 10%;
  }
}

@media screen and (min-width: 1280px) {
  .search {
    margin: 0 20%;
  }
}